---
---
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="blog.lytzen.name" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.lytzen.name{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirect Rule" stopProcessing="true">
                    <match url="^(.+?)/?$" />
                    <conditions>
                        <add input="{StaticRedirects:{R:1}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="False" redirectType="Permanent" />
                </rule>
                <rule name="No redirect on AlwaysOn request" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
                    </conditions>
                    <action type="Rewrite" url="{URL}" />
                </rule>
                <!-- <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" appendQueryString="false" />
                 </rule> -->
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>

            <rewriteMaps>
                <rewriteMap name="StaticRedirects">
                    <add key="2017/06/azure-failover-and-resilience.html" value="/2017/06/29/azure-failover-and-resilience.html" />
                    <add key="2017/01/combine-documents-with-other-data-in.html" value="/2017/01/30/combine-documents-with-other-data-in.html" />
                    <add key="2017/01/how-many-ways-can-i-host-web-app-in.html" value="/2017/01/06/how-many-ways-can-i-host-web-app-in.html" />
                    <add key="2016/12/find-docs-with-no-partitionkey-in-azure.html" value="/2016/12/06/find-docs-with-no-partitionkey-in-azure.html" />
                    <add key="2016/09/find-documents-with-missing-properties.html" value="/2016/09/29/find-documents-with-missing-properties.html" />
                    <add key="2016/08/auto-publish-azure-web-jobs-with-aspnet.html" value="/2016/08/26/auto-publish-azure-web-jobs-with-aspnet.html" />
                    <add key="2016/08/infosec-with-sql-azure.html" value="/2016/08/25/infosec-with-sql-azure.html" />
                    <add key="2016/07/reactjs-clicking-for-me.html" value="/2016/07/15/reactjs-clicking-for-me.html" />
                    <add key="2016/05/azure-documentdb-go-faster-button.html" value="/2016/05/12/azure-documentdb-go-faster-button.html" />
                    <add key="2016/03/auto-deploy-azure-web-job-with-aspnet-5.html" value="/2016/03/29/auto-deploy-azure-web-job-with-aspnet-5.html" />
                    <add key="2016/02/playing-with-cors.html" value="/2016/02/20/playing-with-cors.html" />
                    <add key="2015/08/bt-customer-service-epic-fail.html" value="/2015/08/13/bt-customer-service-epic-fail.html" />
                    <add key="2015/07/using-azure-management-libraries-from.html" value="/2015/07/28/using-azure-management-libraries-from.html" />
                    <add key="2014/07/ng-datalist-working-title-wish-list.html" value="/2014/07/14/ng-datalist-working-title-wish-list.html" />
                    <add key="2013/10/hitting-limits-in-sql-azure.html" value="/2013/10/30/hitting-limits-in-sql-azure.html" />
                    <add key="2013/08/continuous-deployment-to-azure-cloud.html" value="/2013/08/15/continuous-deployment-to-azure-cloud.html" />
                    <add key="2013/05/real-world-corporate-browser-stats.html" value="/2013/05/06/real-world-corporate-browser-stats.html" />
                    <add key="2013/05/hard-windows-workflow-lessons-from-azure.html" value="/2013/05/01/hard-windows-workflow-lessons-from-azure.html" />
                    <add key="2013/04/testing-webconfig-transforms-with.html" value="/2013/04/07/testing-webconfig-transforms-with.html" />
                    <add key="2013/03/using-aspnet-mvc-without.html" value="/2013/03/18/using-aspnet-mvc-without.html" />
                    <add key="2013/01/entity-framework-migrations-seeding-and.html" value="/2013/01/19/entity-framework-migrations-seeding-and.html" />
                    <add key="2013/01/how-to-mock-restsharpexecuteasync.html" value="/2013/01/10/how-to-mock-restsharpexecuteasync.html" />
                    <add key="2012/04/windows-workflow-foundation-4-state.html" value="/2012/04/25/windows-workflow-foundation-4-state.html" />
                    <add key="2012/02/entity-framework-code-first-inheritance.html" value="/2012/02/25/entity-framework-code-first-inheritance.html" />
                    <add key="2010/03/moving-ts-profiles-and-home-drives-to.html" value="/2010/03/07/moving-ts-profiles-and-home-drives-to.html" />
                    <add key="2010/02/file-upload-failed.html" value="/2010/02/28/file-upload-failed.html" />
                    <add key="2009/10/url-files-and-iis.html" value="/2009/10/15/url-files-and-iis.html" />
                    <add key="2009/09/new-website-for-neworbit-goes-live.html" value="/2009/09/28/new-website-for-neworbit-goes-live.html" />
                    <add key="2009/07/first-employee-first-office.html" value="/2009/07/27/first-employee-first-office.html" />
                    <add key="2008/04/outlook-2007-stays.html" value="/2008/04/15/outlook-2007-stays.html" />
                    <add key="2008/04/why-write-blog.html" value="/2008/04/14/why-write-blog.html" />

                    <add key="search/label/DocumentDB" value="/tags/#CosmosDB" />
                    <add key="search/label/Technology" value="/tags/#Technology" />
                    <add key="search/label/csharp" value="/tags/#C#" />
                    <add key="search/label/testing" value="/tags/#Testing" />
                    <add key="search/label/azure" value="/tags/#Azure" />
                    <add key="search/label/ranting" value="/tags/#rRanting" />
                    <add key="search/label/infosec" value="/tags/#Security" />
                    <add key="search/label/security" value="/tags/#Security" />
                    <add key="search/label/sql" value="/tags/#SQL" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>
</configuration>