@charset "utf-8";

// Define defaults for each variable.
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
$base-font-family:      'Roboto', sans-serif !default;
$base-font-size:        1.6rem !default;
$base-font-weight:      400 !default;
$base-line-height:      1.5 !default;
$base-text-color:       #111 !default;

$spacing:          0.8rem !default;

$base-background-color: #fdfdfd !default;

// Width of the content area
$content-width:    80rem !default;

// Import partials.
@import
  "flytzen/resets-helpers",
  "flytzen/normalise",
  "flytzen/syntax-highlighting",
  "flytzen/header"
;

html,
body {
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
}

html {
	font-size: 62.5%; // Makes rem values realatable to px (eg 1.6 rem = 16px)
}

body {
	font-family: $base-font-family;
  font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	background: $base-background-color;
	color: $base-text-color;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {

}

h1,
h2,
h3,
h4,
hr,
blockquote,
p,
ul,
ol,
pre {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

h1,
h2,
h3,
h4,
hr {
	font-weight: 300;
	line-height: 1em;
}

h1 {
	font-size: 4.8rem;
}

h2, .h2 {
	font-size: 3.6rem;
}

h3, .h3, h4, .h4 {
  font-weight: 700;
}

h3, .h3 {
	font-size: 2.4rem;
}

h4, .h4 {
	font-size: 1.8rem;
}

pre {
	font-size: 1.2rem;
}

.page-content {
	line-height: $base-line-height;

	a {
		color: red;
	}

}

.link-txt {
	font-size: 1rem;
	font-weight: 700;
}

.wrapper {
	width: 100%;
	max-width: $content-width;
	padding: 0 $spacing;
	margin: 0 auto;
}
