$break-small: 600px;  // This is the same as what the default menu uses


div.homeboxes {
  display: flex;
  @media all and (max-width: $break-small) {
    flex-direction: column;
  }
}

div.homeblogbox {
  margin: 0.5em;
  padding: 0.5em;
  border: silver solid 1px;
  flex: 3;
  h2 {
    text-align: center;
  }
  ul.post-list {
    h3 {
      margin: 0;
    }
    li {
      margin-bottom: 0.5em;
    }
  }
  .excerpt {
    font-size: 0.8em;
    font-style: italic;
  }
}

div.homesidebar {
  margin: 0.5em;
  padding: 0.5em;
  border: silver solid 1px;
  flex: 1;
  display: flex;
  flex-direction: column;

  div {
    padding: 0.1em;
    margin-bottom: 0.1em;
    border: silver solid 1px;
  }
}

.post-meta {
  display:flex;
  flex-direction: column;

  @media all and (min-width: $break-small) {
    flex-direction: row;
    .post-tags {
      margin-left: auto;
    }
  }
}