---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <div class="wrapper">
      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="wrapper">

    <div class="post__content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="pullout">
      <p>I give regular talks on a number of topics at various events. If you would like me to talk at an event then please contact me on <a href="https://www.twitter.com/flytzen">Twitter</a> or <a href="mailto:flytzen@neworbit.co.uk">email</a>.</p>
      <div class="cta--right">
        <a href="/talks/" class="button">Talks</a>
      </div>
    </div>

  </div>

</article>
